<div class="uk-flex" style="width: 80%; margin: auto; margin-top: 7%">
    <div style="margin-right: 10%; width: 40%">
      <h2>Данные</h2>
        <div>
          <div class="uk-margin-small-bottom">
            <h4 style="margin-bottom: 0px">Имя</h4>
            <input class="uk-input" type="text" placeholder="Имя">
          </div>

          <div class="uk-margin-small-bottom">
            <div>
              <h4 style="margin-bottom: 0px">Почта</h4>

              <div class="uk-flex">
                <input class="uk-input" type="text" placeholder="Почта">
                <button class="uk-button uk-button-default" style="width:70%">Отправить код</button>
              </div>

              <div class="uk-flex uk-margin-small-top">
                <input class="uk-input" type="text" placeholder="Код">
                <button class="uk-button uk-button-default" style="width:70%">Проверить</button>
              </div>
            </div>
          </div>

          <div>
            <h4 style="margin-bottom: 0px">Пароль</h4>
            <input class="uk-input" type="text" placeholder="**********">
          </div>

          <div class="uk-flex uk-margin-small-bottom uk-margin-small-top">
            <button class="uk-button uk-button-default" style="width: 50%">Редактировать</button>
            <button class="uk-button uk-button-default" style="width: 50%">Сохранить</button>
          </div>
        </div>
    </div>

    <div>
      <h2>Пользователи</h2>
      <div style="border: solid grey 2px; height: 84%">
        <div class="uk-flex-column">
          <div class="uk-flex">
          <div style="margin: 5%">
            <h4>Почта</h4>
            <div class="uk-flex-column">
              <p><u>test1@gmail.com</u></p>
              <p class="uk-margin-small-top"><u>test1@gmail.com</u></p>
            </div>
          </div>

          <div style="margin: 5%">
            <h4>Пароль</h4>
            <input class="uk-input" type="text" placeholder="************" readonly>
            <input class="uk-input uk-margin-small-top" type="text" placeholder="************" readonly>
          </div>
          </div>
          <button class="uk-button uk-button-default" style="margin-left: 70%; margin-top: 18%">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
