{% if user.is_authenticated %}
<nav class="uk-navbar-container uk-flex uk-flex-middle" uk-navbar
    style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
    <div class="uk-navbar-left">
        <a href="/" class="uk-width-expand uk-padding-remove uk-flex uk-flex-middle">
            <img src="../../../media/logoImage/logo.svg" alt="" width="40">
            <img src="../../../media/logoImage/logo_text.svg" alt="" class="uk-width-small uk-margin-small-left">
        </a>
    </div>
    <div class="uk-navbar-right uk-width-3-5">
        <div class="uk-search uk-search-default uk-width-2-3">
            <a type="submit" href="" id="searchBtn1" uk-search-icon></a>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole1">
        </div>
    </div>
</nav>
<div style="position: fixed; top: 2.3%; left: 3%; z-index: 1000;">
    <a class="uk-botton uk-button-link" href="#main-menuS" uk-icon="menu" uk-toggle></a>
</div>
<!-- start of navbar submenu -->
<div id="main-menuS" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-left ">
            <li class="uk-active">
                <a href="/" class="uk-width-expand uk-padding-remove uk-flex uk-margin-medium-bottom">
                    <img src="../../../media/logoImage/logo.svg" alt="" class="uk-width-1-5" height="100">
                    <img src="../../../media/logoImage/logo_text.svg" alt="" class="uk-width-4-5" height="100">
                </a>
            </li>

            <li>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-between">
                    <img src="{{user.userImage}}" width=60 height=60 class="uk-border-circle">
                    <p class="uk-text-truncate" uk-tooltip="{{user.email}}">{{user.email}}</p>
                </div>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-left uk-margin-medium-top">
                    {% if user.is_partner %}
                    <a style="margin: 0 5%" uk-tooltip="Партнерка" href="/becomeCreator/" uk-icon="icon: bag"></a>
                    {% endif %}
                    <a style="margin: 0 5%" uk-tooltip="Корзина" href="/orders/" uk-icon="icon: cart"></a>
                </div>
                <br>
                <div class="uk-flex uk-flex-between uk-flex-buttom">
                    <a href="/edit/">Настройки профиля</a>
                    <a href="/logout/">Выйти</a>

                </div>
            </li>

            <li class="uk-nav-divider uk-margin-medium-top uk-margin-medium-bottom"></li>

            <li class="uk-active">
                <a href="/brands/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Бренды</h3>
                </a>
            </li>

            <li class="uk-active">
                <a href="/goods/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Магазин</h3>
                </a>
            </li>


            <li class="uk-nav-divider uk-margin-medium-top"></li>

            <li class="uk-parent">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active">
                        <a href="/goods/category/Clothing" class="uk-button uk-button-text">Одежда </a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Shoes" class="uk-button uk-button-text">Обувь</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Bags" class="uk-button uk-button-text">Сумки</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Interior" class="uk-button uk-button-text">Интерьер</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Accessories" class="uk-button uk-button-text">Аксессуары</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-secondary uk-nav-left uk-margin-auto-vertical">
            <p style="margin: 0px"> Регион <b>Москва</b></p>
            {% if user.is_partner %}
            <a href="/partners/" class="uk-button uk-button-text" style="text-transform: none; font-size: 20px;">Вы уже
                партнер</a>
            {% else %}
            <a href="/partners/" class="uk-button uk-button-text" style="text-transform: none; font-size: 20px;">Стать
                партнером</a>
            {% endif %}
        </ul>
    </div>
</div>
<!-- end of navbar submenu -->
{% else %}

<nav class="uk-navbar-container uk-flex uk-flex-middle" uk-navbar
    style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
    <div class="uk-navbar-left">
        <a href="/" class="uk-width-expand uk-padding-remove uk-flex uk-flex-middle">
            <img src="../../../media/logoImage/logo.svg" alt="" width="40">
            <img src="../../../media/logoImage/logo_text.svg" alt="" class="uk-width-small uk-margin-small-left">
        </a>
    </div>
    <div class="uk-navbar-right uk-width-3-5">
        <div class="uk-search uk-search-default uk-width-1">
            <a type="submit" href="" id="searchBtn" uk-search-icon></a>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole">
        </div>
    </div>
</nav>
<div style="position: fixed; top: 2%; left: 3%; z-index: 1000;">
    <a class="uk-botton uk-button-link" href="#main-menuS" uk-icon="menu" uk-toggle></a>
</div>

<!-- start of navbar submenu -->
<div id="main-menuS" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">
            <li class="uk-active">
            </li>
            <li>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-between">
                    <h1> <a href="/" class="uk-text-truncate">BeFreela</a></h1>
                </div>
            </li>

            <li class="uk-nav-divider uk-margin-medium-top uk-margin-medium-bottom"></li>

            <li class="uk-active"><a href="/brands/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Бренды</h3>
                </a>
            </li>
            <li class="uk-active"><a href="/goods/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Магазин</h3>
                </a>
            </li>
            <li class="uk-nav-divider uk-margin-medium-top"></li>
            <li class="uk-parent">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active">
                        <a href="/goods/category/Clothing" class="uk-button uk-button-text">Одежда </a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Shoes" class="uk-button uk-button-text">Обувь</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Bags" class="uk-button uk-button-text">Сумки</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Interior" class="uk-button uk-button-text">Интерьер</a>
                    </li>
                    <li class="uk-active">
                        <a href="/goods/category/Accessories" class="uk-button uk-button-text">Аксессуары</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-secondary uk-nav-left uk-margin-auto-vertical">
            <p style="margin: 0px"> Регион <b>Москва</b></p>
            <a href="/login" class="uk-button uk-button-text" style="text-transform: none; font-size: medium;">Стать
                партнером</a>
        </ul>
    </div>
</div>
<!-- end of navbar submenu -->
{% endif %}