<div class="section uk-width-4-5" style="margin: 2% auto;">
    <hr>


    <h1>Партнерское Соглашение</h1>

    <br>
    <hr>
    <br>

    <div>

        <h3>
            Определения
        </h3>

        <p>
            1.1. Авторизация в Личном кабинете – ввод Партнером Логина и Пароля от Личного кабинета Партнера.

            <br>  1.2. Авторизованный Партнер – Партнер, прошедший авторизацию на Сайте с помощью Логина и Пароля, предоставленных ему Владельцем сайта.

            <br> 1.3. Владелец сайта – юридическое лицо, ООО «КНАУФ ГИПС» (ОГРН 1025002863049, ИНН 5024051564), осуществляющее администрирование Сайта, являющееся стороной настоящего Соглашения. Место нахождения: 143405, Московская обл, город Красногорск, улица Центральная, 139.

            <br>1.4. Дилерский договор – договор, заключенный между Партнером и одним из предприятий группы КНАУФ в России на реализацию товаров, производимых и реализуемых одним из предприятий группы КНАУФ в России.

            <br>1.5. Заказ – действия Пользователя по оформлению заявки на приобретение Товара (Товаров) на Сайте у соответствующего Партнера, включающие в себя выбор Товара, его параметров (при наличии) и количества.

            <br> 1.6. Карточка Товара – страница Сайта, содержащая информацию о конкретном Товаре, а также о Товарном предложении, в случае его размещения Партнером.

            <br>1.7. Корзина – Сервис Сайта, позволяющий сохранять выбранные Пользователем Товары до момента формирования Заказа.

            <br> 1.8. Личный кабинет Партнера – персональный раздел Партнера, в виде защищенных страниц Сайта, доступ к которым возможен только при вводе Партнером Учетных данных, в котором Партнеру доступно управление отдельными Сервисами Сайта на предложенных Владельцем сайта условиях. Предоставление доступа к персональному разделу Партнера регулируется настоящим Соглашением.

            <br> 1.9. Личный кабинет Пользователя – персональный раздел Пользователя, представленный в виде защищенных страниц Сайта, доступ к которым возможен только при вводе Учетных данных и после завершения Регистрации Пользователя, в котором Пользователю доступно управление отдельными Сервисами Сайта на предложенных Владельцем сайта условиях.

            <br> 1.10. Логин – уникальное сочетание символов, используемое Партнером на Сайте в целях доступа к Личному кабинету Партнера. Логин предоставляется Партнеру ответственным лицом Владельца сайта.

            <br>1.11. Пароль – уникальное сочетание символов, позволяющее при одновременном вводе с Логином войти в Личный кабинет Партнера. Пароль предоставляется Партнеру ответственным лицом Владельца сайта.

            <br>1.12. Партнер – лицо (индивидуальный предприниматель или юридическое лицо), заключившее дилерский договор с одним из предприятий группы КНАУФ в России и осуществляющее деятельность по продаже Товаров Пользователям дистанционным способом с использованием Сайта от своего имени и за свой счет.

            <br>1.13. Персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).

            <br>1.14. Пользователь – лицо, не имеющее законодательных ограничений для акцепта Пользовательского Соглашения, осуществившее доступ к Сайту и/или использующее Сайт, любые его Сервисы, функции и/или возможности, независимо от факта Регистрации на Сайте.

            <br> 1.15. Регистрационные данные Партнера – информация о Партнере, используемая для Регистрации на Сайте в соответствии с п. 3.3 настоящего соглашения, включая Учетные данные, адрес электронной почты и пр., а также все изменения и дополнения такой информации, указанные Партнером непосредственно в Личном кабинете.

            <br>1.16. Регистрация Партнера – совокупность действий Владельца сайта в соответствии с указанными на Сайте инструкциями, включая предоставление Регистрационных данных, а также иной информации, совершаемых с использованием специальной формы пользовательского интерфейса Сайта в целях формирования Личного кабинета Партнера и получения доступа к отдельным сервисам Сайта, доступным Партнерам.

            <br> 1.17. Сайт – совокупность программных и аппаратных средств для ЭВМ, обеспечивающих публикацию для обозрения информации и данных, объединенных общим целевым назначением, посредством технических средств, применяемых для связи между ЭВМ в сети Интернет, расположенный по адресу: http://kupi.knauf.ru. Сайт предоставляет доступ Пользователям к информации о товарах и услугах Партнера, а также функциональные возможности Сайта (Сервисы Сайта), направленные на обеспечение эффективности использования Сайта / подбора лучшего предложения товаров и услуг от Партнеров, включая, но не ограничиваясь: средства поиска Товаров, Корзина, Регистрация и Авторизация на Сайте, Личный кабинет.

            <br> 1.18. Соглашение – настоящее Партнерское соглашение об использовании Сайта, заключаемое между Владельцем сайта и Партнером.

            <br> 1.19. Стороны – Владелец сайта и Партнер при их совместном упоминании, а Сторона – любой из них при упоминании по отдельности.

            <br> 1.20. Страница Партнера – страница Сайта, содержащая информацию о Партнере, в том числе информацию о способах оплаты и условиях доставки, условиях возврата Товара, а также иную информацию, являющуюся существенной для формирования Заказа и приобретения Пользователем Товаров у Партнера. Страница Партнера доступна по ссылке, размещенной на странице «Точки продаж» или в Корзине при выборе Товарных предложений.

            <br> 1.21. Товар (Продукт) – строительно-отделочные материалы, информация о которых представлена Владельцем сайта на Сайте.

            <br> 1.22. Товарное предложение – адресованное Пользователям предложение Товара, реализуемого Партнером, размещаемое на Сайте в Карточке Товара.

            <br> 1.23. Учётная запись Партнера – хранимая в компьютерной системе совокупность данных о Партнере, необходимая для его опознавания (аутентификации) и предоставления доступа к данным и параметрам Личного кабинета Партнера.

            <br> 1.24. Уникальный идентификатор (ID) – уникальный идентификационный номер, который присваивается Партнеру Владельцем Сайта при создании Учетной записи Партнера и закрепляется за Партнером в соответствии с Дополнительным соглашением к Дилерскому договору.

            <br> 1.25. Услуги – услуги, предоставленные на Сайте и оказываемые Партнерами, включая, но не ограничиваясь: услуги по доставке Товара, услуги по разгрузке Товара, услуги по подъему Товара на этаж, переносу Товара.

            <br> 1.26. Учетные данные – уникальный Логин и Пароль Партнера, используемые для доступа Партнера в Личный кабинет Партнера, а также для идентификации Партнера в качестве стороны настоящего Соглашения при предоставлении функциональных возможностей (Сервисов Сайта). Учетные данные в совокупности признаются Сторонами аналогом собственноручной подписи Партнера при заключении настоящего Соглашения и оформлении уведомлений, передачи информации, а также совершении иных действий.

        </p>


    </div>
</div>
