<div class="section uk-width-4-5" style="margin: 2% auto;">

    <hr>


    <h1>Оферта</h1>

    <br>
    <hr>
    <br>
    <div>

        <h2>
            1. ОБЩИЕ ПОЛОЖЕНИЯ
        </h2>

        <h3>
            1.1 Договор
        </h3>

        <p>
            ИП Юхтмахер Анастасия Кирилловна (далее – Платформа) предлагает заключить смешанный договор, 
            содержащий элементы лицензионного договора и договора возмездного оказания услуг, любым дееспособным физическим лицам.
        </p>

        <h3>
            1.2 Оферта и Акцепт
        </h3>
        

        <p>
            Договор заключается путем акцепта Оферты. Акцептом является регистрация на сайте http://vitrinabrands.com (далее – Сайт). 
            Лицо, акцептовавшее Оферту, становится Пользователем. Регистрируясь на Сайте, 
            Пользователь подтверждает факт своего ознакомления с Офертой, полное и безоговорочное согласие с ней, в том числе согласие на обработку персональных данных.
        </p>

        <h3>
            1.3 Регистрация
        </h3>

        <p>
            Для заключения Договора необходимо зарегистрироваться на Сайте и создать личный кабинет – страницу Пользователя, 
            которая содержит персональные данные и доступ к которой осуществляется с использованием логина и пароля (далее – Личный кабинет). 
            Действия, совершенные через Личный кабинет, считаются совершенными Пользователем, чьи персональные данные в нем указаны. Пользователь, 
            не осуществивший регистрацию, имеет право знакомиться с содержимым Сайта и добавлять Товары в раздел «Избранное» и «Корзина». Для совершения иных действий, 
            исполнения Договора на условиях настоящей Оферты и заключения договоров купли-продажи с Брендами Пользователю необходима регистрация.
        </p>

        <h3>
            1.4 Цель заключения Договора
        </h3>

        <p>
            Договор заключается в целях предоставления Пользователю возможности приобретать товары для личного, семейного, 
            домашнего или иного использования, не связанного с предпринимательской деятельностью (далее – Товары), 
            которые реализуются посредством Сайта третьими лицами – продавцами, с которыми сотрудничает Платформа (далее – Бренд).
        </p>

        <h3>
            1.5 Условия оказания Услуг
        </h3>

        <p>
            Платформа обязуется оказывать Пользователю следующие организационно-консультационные Услуги (далее - Услуги) по: - 
            предоставлению информации о Товарах на Сайте; - предоставлению возможности приобрести Товары у Брендов, произведя 
            оплату заказанных Товаров на наш расчетный счет; - сопровождению процесса доставки Товаров; - предоставлению сервиса 
            клиентской поддержки и обеспечению разрешения возникших между Пользователем и Брендом споров, касающихся приобретенных 
            на Сайте Товаров. Объем оказываемых Услуг и сроки их оказания определяются Платформой по своему усмотрению и не требуют согласования с 
            Пользователем, если иное не предусмотрено Договором. Платформа оказывает Пользователю Услуги через Сайт.
        </p>

        <h3>
            1.6 Условия предоставления Лицензии
        </h3>

        <p>
            Платформа предоставляет Пользователю простую неисключительную безвозмездную лицензию на право использования Сайта. 
            Территория предоставления Лицензии – весь мир. Срок предоставления Лицензии – срок действия Договора. Действие Лицензии 
            распространяется на все последующие обновления и новые версии Сайта. Пользователю доступны следующие способы использования Сайта: 
            - воспроизведение (полное или частичное) 
            в любой форме, любыми способами; - использование в рамках функциональных возможностей.
        </p>

        <h2>
            2. ПОРЯДОК ИСПОЛНЕНИЯ ДОГОВОРА
        </h2>

        <h3>
            2.1 Оформление Заказа
        </h3>

        <p>
            По завершении регистрации Пользователь получает возможность оформить запрос на приобретение и доставку по указанному адресу Товаров, 
            выбранных на Сайте (далее – Заказ). Посредством размещения Заказа Пользователь направляет Бренду предложение продать Пользователю данный Товар(-ы). 
            Выполнение Заказа возможно при подтверждении наличия Товаров Брендом. Оформляя Заказ, Пользователь гарантирует, что все предоставленные им данные являются достоверными и точными, 
            он полностью дееспособен и является уполномоченным владельцем кредитной или дебетовой карты, которая используется при оформлении Заказа.
        </p>

        <h3>
            2.2 Выбор способа доставки
        </h3>

        <p>
            При оформлении Заказа Пользователь выбирает способ доставки Товара. Пользователь может выбрать доставку в офис службы доставки (далее - Пункт выдачи), 
            стоимость которой составляет 199 руб. или доставку курьером, стоимость которой составляет 399 руб. Положения данного пункта не распространяются на доставку Товаров, 
            относящихся к категории Мебель: для них стоимость доставки рассчитывается индивидуально в зависимости от местоположения Пользователя.
        </p>

        <h3>
            2.3 Информирование Пользователя о статусе Заказа
        </h3>

        <p>
            После оформления и оплаты Заказа Пользователь получает от Платформы по указанной в Личном кабинете электронной почте письмо о том, что статус Заказа: 
            «на подтверждении». Это письмо означает, что Платформа получила информацию о Заказе. Оно служит для 
            информационных целей и не является доказательством заключения договора купли-продажи со стороны Бренда.
        </p>

        <h3>
            2.4 Заключение договора купли-продажи с Брендом
        </h3>

        <p>
            После оформления Заказа Платформе необходимо получить подтверждение наличия Товара от Бренда. Договор купли-продажи Товара считается заключенным с момента 
            выдачи Брендом Пользователю кассового или товарного чека либо иного документа, 
            подтверждающего оплату Товара, который отправляется Пользователю по электронной почте.
        </p>

        <h3>
            2.5 Продажа Товаров Брендами
        </h3>

        <p>
            Договор купли-продажи Товаров заключается между Пользователем и соответствующим Брендом. Бренд уполномочил Платформу на выполнение от его имени действий, 
            направленных на заключение договора, но Платформа не является стороной такого договора, и Пользователь не приобретает Товар у Платформы.
        </p>

        <h3>
            2.6 Отмена Заказа
        </h3>

        <p>
            В случае отсутствия заказанных Пользователем Товаров в наличии у Бренда, Платформа уведомляет об этом Пользователя по электронной 
            почте и предлагает альтернативные варианты действий в отношении такого Заказа, включая его полную или частичную отмену. 
            В случае отмены Заказа стоимость оплаченных Товаров возвращается Платформой Пользователю способом, которым Товар был оплачен.
        </p>

        <h3>
            2.7 Уведомления о доставке Заказа
        </h3>

        <p>
            После заключения договора купли-продажи Товара Пользователь получает от Платформы по указанной в Личном кабинете электронной 
            почте письмо о том, что статус Заказа:  «сформирована накладная». Пользователю предоставляется номер накладной, по которому Пользователь 
            может отследить местонахождение Товара на сайте службы доставки. . Товары отправляются Пользователю напрямую от Брендов, 
            поэтому Заказ может быть доставлен несколькими посылками. При выборе доставки в Пункт выдачи, служба доставки уведомит 
            Пользователя СМС-сообщением о том, что Заказ готов к выдаче. 
            При выборе доставки курьером курьер свяжется с Пользователем по телефону для уточнения даты и времени доставки. 
        </p>

        <h3>
            2.8 Отслеживание статуса Заказа
        </h3>

        <p>
            Пользователь может отслеживать статус всех совершенных Заказов 
            («На подтверждении» / «Сформирована накладная» / «Отправлен»/ «Выполнен» в Личном кабинете.
        </p>


        <h2>
            3. ПОРЯДОК ОПЛАТЫ ТОВАРОВ
        </h2>

        <h3>
            3.1 Действия Платформы
        </h3>

        <p>
            Принимая платежи за Заказы, Платформа действует в качестве агента по поручению соответствующих 
            Брендов, при этом договор купли-продажи заключается между Пользователем и Брендом вне зависимости 
            от факта приема Платформой денежных средств.
        </p>

        <h3>
            3.2 Цены Товаров
        </h3>

        <p>
            Цена Товара, реализуемого на Сайте, указывается в российских рублях и включает в себя НДС в случае, 
            если соответствующий Бренд применяет общую систему налогообложения. Цена Товара на Сайте может 
            быть изменена Брендом в одностороннем порядке. При этом цена на заказанный Пользователем Товар изменению не подлежит. Цена Товара не включает стоимость доставки.
        </p>

        <h3>
            3.3 Особенности оплаты Товара
        </h3>

        <p>
            Товары оплачиваются посредством банковских карт. В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, 
            совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
        </p>

        <h3>
            3.4 Проверка действий Пользователя
        </h3>

        <p>
            Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, 
            банк вправе отказать в осуществлении операции. Во избежание случаев неправомерного использования банковских карт Заказы, оформленные на Сайте, 
            проверяются Платформой. В целях проверки личности владельца и его правомочности на использование карты 
            Платформа вправе потребовать от Пользователя, оформившего такой Заказ, предъявления документа, удостоверяющего личность.
        </p>

        <h3>
            3.5 Холдирование денежных средств
        </h3>

        <p>
            При оплате Заказа банковской картой на Сайте денежные средства блокируются на карте до момента заключения договора купли-продажи Товара. 
            Для Пользователя это выглядит как обычное списание денежных средств за покупку. При настроенных уведомлениях от банка придет уведомление 
            о списании денежных средств. В мобильном приложении или личном кабинете банка рядом с такой операцией может быть пометка «авторизация ожидает подтверждения». 
            При холдировании денежные средства не поступают Платформе и их разблокировку осуществляет банк.
        </p>

        <h3>
            3.6 Списание денежных средств
        </h3>

        <p>
            В момент заключения договора купли-продажи Товара денежные средства списываются со счета Пользователя. Операция списания 
            будет датирована днем оформления Заказа (а не его подтверждения) Пользователем. При частичном подтверждении наличия Товара 
            у Бренда операция о списании денежных средств в день оформления Заказа уменьшится на сумму, равную стоимости неподтвержденных Товаров. 
            При аннулировании Заказа операция о списании денежных средств в день оформления Заказа будет удалена из истории операций.
        </p>

        <h3>
            3.7 Оплата таможенных платежей при международной доставке
        </h3>

        <p>
            При международной доставке на Пользователя может быть возложена обязанность по уплате таможенных сборов, налогов и иных обязательных платежей 
            в соответствии с законодательством страны, в которую Пользователем оформлена доставка. Такие платежи не включены в цену Товара. 
            Услуги по таможенному оформлению Товаров не входят в предмет Договора. Пользователь вправе самостоятельно заполнять 
            таможенные декларации и уплачивать необходимые платежи либо воспользоваться услугами по таможенному оформлению, предоставляемыми службой доставки.
        </p>


        <h2>
            4. ВОЗВРАТ И ОБМЕН ТОВАРА НАДЛЕЖАЩЕГО КАЧЕСТВА
        </h2>

        <h3>
            4.1 Возможность возврата и обмена
        </h3>

        <p>
            Пользователь вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара — 
            в течение 7 календарных дней, не считая дня получения. Возврат или обмен Товара надлежащего качества возможен в 
            случае, если сохранены его товарный вид (отсутствие следов эксплуатации и носки, наличие оригинальной и неповрежденной 
            упаковки и ярлыков) и потребительские свойства. Товары надлежащего качества, относящиеся к категориям, предусмотренным Перечнем непродовольственных товаров 
            надлежащего качества, не подлежащих обмену (Утвержден постановлением Правительства РФ от 31 декабря 2020 г. № 2463), не подлежат обмену и возврату.
        </p>

        <h3>
            4.2 Порядок возврата и обмена
        </h3>

        <p>
            Пользователь уведомляет Платформу о желании вернуть или обменять Товар посредством направления письма на электронную почту info@vitrinabrands.com. 
            В таком письме Пользователь указывает, какой именно Товар он хотел бы вернуть или обменять, а также выбранный способ возврата - курьером либо в Пункт выдачи. 
            Платформа направляет Пользователю форму заявления о возврате Товара, которую Пользователь должен заполнить и направить Платформе по электронной почте. 
            Платформа направляет Пользователю накладную на возврат Товара. В зависимости от выбранного способа возврата, с Пользователем либо связывается курьер 
            для уточнения даты и времени передачи товара, либо Пользователь самостоятельно передает Товар в Пункт доставки. Пользователь должен возвратить Товар 
            Платформе для проверки сохранности товарного 
            вида и потребительских свойств Товара. Возврат денежных средств, уплаченных Пользователем Платформе за Товар происходит после проведения указанной проверки.
        </p>

        <h3>
            4.3 Возврат денежных средств
        </h3>

        <p>
            Платформа возвращает Пользователю стоимость возвращенного 
            Товара, за исключением расходов Платформы, связанных с 
            доставкой возвращенного Пользователем Товара, в течение 10 
            дней с даты поступления возвращенного Товара на склад Бренда.
        </p>



        <h2>
            5. ВОЗВРАТ ТОВАРА НЕНАДЛЕЖАЩЕГО КАЧЕСТВА
        </h2>

        <h3>
            5.1 Возможность возврата
        </h3>

        <p>
            Под Товаром ненадлежащего качества подразумевается Товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. 
            Пользователь вправе обратиться с требованием о возврате Товара ненадлежащего качества в пределах гарантийного срока  к Бренду через Платформу.
        </p>

        <h3>
            5.2 Порядок возврата
        </h3>

        <p>
            Пользователь уведомляет Платформу о том, что им приобретен Товар ненадлежащего качества, посредством направления письма на электронную почту info@vitrinabrands.com. 
            В таком письме Пользователь указывает, в чем именно заключается недостатки Товара и прикладывает подтверждающие это фотографии, а также выбранный способ возврата - 
            курьером либо в Пункт выдачи. Платформа направляет Пользователю накладную на возврат Товара. В зависимости от выбранного способа возврата, с 
            Пользователем либо связывается курьер для уточнения даты и времени передачи товара, либо Пользователь самостоятельно передает Товар в Пункт доставки. Бренд обязан принять 
            Товар ненадлежащего качества у Пользователя и в случае необходимости провести проверку качества Товара. 
            Пользователь обязан предоставить Товар для такой проверки.
        </p>

        <h3>
            5.3 Возврат денежных средств
        </h3>

        <p>
            Требования о возврате уплаченной за Товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования о 
            возврате Товара Бренду. Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара на банковскую карту.
        </p>



        <h2>
            6. ГАРАНТИЙНЫЙ СРОК
        </h2>

        <h3>
            6.1 Продолжительность гарантийного срока
        </h3>

        <p>
            Гарантийный срок на одежду и обувь, если иное не установлено изготовителем или ГОСТом, составляет 30 (тридцать) календарных дней с момента покупки. 
            Гарантийный срок, установленный изготовителем, указан в описании к Товару. Если гарантийный срок изготовителя составляет более 30 (тридцати) 
            календарных дней, применяется гарантийный срок изготовителя. 
            Гарантийный срок на обувь отсчитывается с момента наступления соответствующего сезона. Начало сезона определяется субъектами 
            РФ исходя из климатических условий места нахождения Пользователя.
        </p>

        <h3>
            6.2 Ответственность Брендов 
        </h3>

        <p>
            Если на Товар установлен гарантийный срок, Бренд отвечает за недостатки Товара, если не докажет, что они возникли после передачи 
            Товара Пользователю вследствие нарушения Пользователем правил использования, хранения или транспортировки Товара, действий третьих 
            лиц или непреодолимой силы. Если на Товар не 
            установлен гарантийный срок, Пользователь должен доказать, что недостатки Товара возникли до передачи Товара Пользователю или по причинам, возникшим до этого момента.
        </p>

        <h3>
            6.3 Обнаружение недостатков по истечении гарантийного срока
        </h3>

        <p>
            Если гарантийный срок составляет менее двух лет и недостатки товара обнаружены по истечении гарантийного срока, 
            но в пределах двух лет, Пользователь вправе предъявить Бренду требования, если Пользователь докажет, что недостатки 
            товара возникли до его передачи или по причинам, возникшим до этого момента. Если существенный недостаток Товара выявлен 
            по истечении 2 лет со дня его передачи Пользователю и к этому моменту истек гарантийный срок, требование о расторжении договора 
            купли-продажи может быть заявлено Пользователем только к изготовителю (уполномоченной организации или уполномоченному индивидуальному 
            предпринимателю, импортеру). При этом Пользователь обязан доказать, 
            что выявленный недостаток является существенным и что он возник до передачи Товара Пользователю или по причинам, возникшим до этого момента.
        </p>




        <h2>
            7. ОТВЕТСТВЕННОСТЬ
        </h2>

        <h3>
            7.1 Ответственность Брендов
        </h3>

        <p>
            Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи и доставки Товаров, 
            размещенными на страницах соответствующих Брендов. Платформа не несет ответственность за правила Брендов в 
            отношении продажи Товаров. Платформа не несет ответственности за качество Товара, 
            реализуемого Брендами, за исполнение ими своих обязательств по передаче Пользователю Товара и за любые 
            нарушения прав Пользователя как потребителя со стороны Брендов.
        </p>

        <h3>
            7.2 Ответственность Платформы
        </h3>

        <p>
            Платформа не несет ответственности за ущерб, причиненный Пользователю вследствие ненадлежащего использования Товаров, 
            приобретенных на Сайте. Ссылки на сайты и ресурсы третьих лиц размещаются на Сайте только в информационных целях. Платформа 
            не несет ответственность за содержимое данных сайтов или ресурсов и за какие-либо убытки, нанесенные в 
            результате их использования. Так как все описания Товаров основаны на информации, предоставленной Брендами, Платформа не может 
            гарантировать их достоверность и безошибочность.
        </p>

        <h3>
            7.3 Взаимодействие с Брендами
        </h3>

        <p>
            Если Пользователь недоволен Товаром, заказанным на Сайте, Пользователь может обратиться к Платформе, 
            чтобы Платформа связалась с соответствующим Брендом попыталась разрешить конфликт.
        </p>

        <h3>
            7.4 Доступ к Личному кабинету
        </h3>

        <p>
            Пользователь обязуется проявлять должную заботу и осмотрительность в отношении доступа к Личному кабинету и не предоставлять его третьим лицам. 
            Платформа не отвечает за утерю или за кражу логина и пароля в 
            случае взлома Личного кабинета Пользователя, а также за точность и правильность информации, предоставляемой Пользователем при регистрации.
        </p>

        <h3>
            7.5 Доступ к Сайту
        </h3>

        <p>
            Платформа не несет ответственности за невозможность Пользователя получить доступ к Сайту по причинам, 
            связанным с нарушением работы Интернет-канала, оборудования или программного обеспечения Пользователя.
        </p>

        <h3>
            7.6 Удаление Личного кабинета
        </h3>

        <p>
            В случае, если Платформа заподозрит Пользователя в совершении противоправных действий, как то: распространение спама, вредоносных программ, 
            мошенничества с пользованием услуг и лицензий Платформы, 
            других деяний, нарушающих условия Оферты, Платформа вправе заблокировать либо удалить Личный кабинет Пользователя с уведомлением его об инциденте.
        </p>


        <h2>
            8. ИНЫЕ ПОЛОЖЕНИЯ
        </h2>

        <h3>
            8.1 Действие Договора
        </h3>

        <p>
            Условия Договора определяются Офертой в редакции (с учетом изменений и дополнений), 
            действующей (действующих) на день оформления Заказа. Договор вступает в силу с даты Акцепта и действует бессрочно.
        </p>

        <h3>
            8.2 Продажа ювелирных и других изделий из драгоценных металлов и (или) драгоценных камней
        </h3>

        <p>
            Ювелирные и другие изделия из драгоценных металлов и (или) драгоценных камней, которые предлагаются к продаже на Сайте, 
            проходят опробование, анализ и клеймение в соответствии с требованиями, установленными Постановлением Правительства 
            РФ от 06.05.2016 № 394 «Об опробовании, анализе и клеймении ювелирных и других изделий из драгоценных металлов».
        </p>

        <h3>
            8.3 Исключительные права
        </h3>

        <p>
            Платформа является правообладателем или лицензиаром интеллектуальных прав на Сайт и его содержимое 
            (текст, графика, логотипы, изображения, звуковые клипы, загружаемые электронные объекты и так далее). 
            Заключение Договора не влечет за собой переход к Пользователю или предоставление ему исключительного 
            права на какие-либо результаты интеллектуальной деятельности. Пользователю запрещается копировать, изменять, 
            дополнять, публиковать, передавать содержащиеся на Сайте результаты интеллектуальной деятельности, создавать 
            производные работы, изготавливать или продавать продукты на их основе, воспроизводить, отображать или любым 
            другим образом использовать такие объекты без разрешения правообладателей, 
            использовать Сайт таким образом, чтобы это могло вызвать или потенциально стать причиной сбоев доступа к 
            Сайту, их повреждения или ухудшения в любом проявлении.
        </p>

        <h3>
            8.4 Изменение Оферты
        </h3>

        <p>
            Платформа в любое время может изменить условия Оферты. 
            Изменения вступают в силу с момента публикации новой редакции Оферты на Сайте.
        </p>

        <h3>
            8.5 Отзыв Оферты
        </h3>

        <p>
            Платформа вправе отозвать Оферту на основании статьи 436 ГК РФ. Отзыв осуществляется путем размещения соответствующей информации на Сайте.
        </p>

        <h3>
            8.6 Расторжение Договора
        </h3>

        <p>
            Договор может быть расторгнут досрочно: - по соглашению Платформы и Пользователя; - по инициативе Платформы в одностороннем порядке 
            в случае нарушения Пользователем условий Оферты; - по инициативе Пользователя в одностороннем порядке в любое время.
        </p>

        <h3>
            8.7 Направление уведомлений
        </h3>

        <p>
            Стороны признают, что различные уведомления по Договору, в том числе связанные 
            с изменением и расторжением Договора, подписанные простой электронной подписью, 
            признаются электронными документами, равнозначными документам на 
            бумажном носителе, подписанным собственноручной подписью. Простая электронная 
            подпись представляет собой адрес электронной почты Пользователя, указанный в Личном кабинете.
        </p>


        <h2>
            9. РЕКВИЗИТЫ ПЛАТФОРМЫ
        </h2>

        <p>

            ИП Юхтмахер Анастасия Кирилловна <br>
            ИНН 772373029722<br>
            Адрес 123022, г. Москва, Столярный пер. 3к8<br>
            Электронная почта  info@vitrinabrands.com<br>
            ИП Юхтмахер Анастасия Кирилловна ИНН 772373029722<br>
            ОГРНИП 316774600143875<br>


        </p>


    </div>
</div>