<div class="section uk-width-4-5" style="margin: 2% auto;">

    <hr>


    <h1>Обмен и возврат</h1>

    <br>
    <hr>
    <br>
    <div>
        <h3>
            Правила возврата
        </h3>

        <p>
            Покупатель вправе отказаться от заказанного товара в любое время до его получения, 
            а после получения товара — в течение 7 дней, не считая дня получения.
        </p>
        <p>
            Товар должен сохранить свой первоначальный вид, фабричные ярлыки, пломбы, этикетки. <br>
            Возврат и обмен товара при обнаружении производственного брака осуществляется за счет продавца. <br>
            При выявлении дефектов или утрате товаром первоначального вида возможна экспертиза. <br>
        </p>

        <h3>
            Как оформить возврат
        </h3>

        <p>
            Чтобы вернуть товар, свяжитесь с нами по почте info@vitrinabrands.com, сообщив дату покупки, 
            ФИО и трек номер, а также способ обратной отправки товара службой СДЭК — курьером или через отделение компании. 
            В ответном письме мы направим вам бланк заявления на возврат. Его необходимо вложить в посылку, а также отправить нам в электронном виде.
        </p>
        <p>
            Далее мы самостоятельно сформируем накладную на отправку, после чего вы сможете передать товар в службу доставки, назвав номер отправления. 
            В зависимости от способа возврата с вами свяжется курьер для уточнения даты и времени приезда, либо вы самостоятельно передадите товар в ближайшее отделение компании СДЭК.
        </p>
        <p>
            Все посылки, которые отправлены без согласования и без заявления, отправляются обратно за счет отправителя.
        </p>
        <p>
            Возврат денежных средств осуществляется за вычетом суммы, оплаченной за доставку при оформлении заказа.
        </p>
        <p>
            Срок обработки и одобрения возврата составляет от 1 до 3 рабочих дней.
        </p>
        <p>
            После одобрения возврата мы перечислим денежные средства на карту, с которой была проведена оплата, 
            в срок от 1 до 10 банковских дней, для этого необходимо заполнить полные реквизиты для перевода денежных средств в заявлении на возврат. 
            Обращаем ваше внимание, что возврат денежных средств зависит от скорости обработки операции вашим <br>
            Банком и может достигать 30 банковских дней.
        </p>
        <p>
            Покупатель также вправе направить товар с приложенным оригиналом заявления на возврат с доставкой 
            до двери по адресу: 123022, г. Москва, Столярный пер. 3к8, получатель: ИП Юхтмахер А.К.
        </p>
        <p>
            Товары надлежащего качества, относящиеся к категориям, предусмотренным Перечнем непродовольственных товаров надлежащего качества, не подлежащих обмену 
            (Утвержден постановлением Правительства РФ от 31 декабря 2020 г. № 2463), не подлежат обмену и возврату.
        </p>
        <p>
            Процесс обмена товара идентичен процессу возврата.
        </p>
        <p>
            Подробнее с информацией о возврате товаров надлежащего или ненадлежащего вида, вы можете ознакомиться здесь.
        </p>

    </div>
</div>