<div class="section uk-width-4-5" style="margin: 2% auto;">

    <hr>


    <h1>Оплата</h1>

    <br>
    <hr>
    <br>
    <div>
        <p>
            Оплата на сайте возможна с помощью банковских карт, 
            Apple Pay и Google Pay, Qiwi и других систем. Производится системой Точка Банк.
        </p>


        <p>
            После оформления и оплаты заказа вы получите письмо на электронную почту, 
            указанной при регистрации, в которой мы сообщим вам, что Заказ находится в обработке.
            <br>
            Как только заказ будет подтвержден, вам на электронную почту придет 
            чек о покупке, а также письмо с подтверждением Заказа и информацией о доставке.
        </p>


        <p>
            Если в заказе есть товарная позиция, которой не оказалось в наличии, с вами свяжется наш менеджер, 
            чтобы подтвердить или отменить заказ, 
            в зависимости от этого сумма заказа будет пересчитана и списана, либо возвращена в полном объеме.
        </p>


        <p>
            В процессе формирования заказа в вашем Личном кабинете статус каждого отправления будет меняться: 
            «На подтверждении», «Отправлен», «В доставке», «Доставлен» или «Отменен».
        </p>

        <br>
        <p>
            Если у вас остались вопросы, напишите нам на info@vitrinabrands.com.
        </p>

    </div>


</div>