<div class="section uk-width-4-5" style="margin: 2% auto;">
    
        <hr>


        <h1>Пользовательское Соглашение</h1>

        <br>
        <hr>
        <br>

        <div>
            <p>
                Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между Индивидуальным предпринимателем Дегтяревым Евгением Алексеевичем
                (далее BeFreela или Администрация) с одной стороны и пользователем сайта с другой. <br>
                Сайт BeFreela не является средством массовой информации. <br>
                Используя сайт, Вы соглашаетесь с условиями данного соглашения. Если Вы не согласны с условиями данного соглашения, не используйте сайт BeFreela! <br>
            </p>

        <h3>
            Предмет соглашения
        </h3>

        <p>
            Администрация предоставляет пользователю право на размещение на сайте следующей информации:
            <br>

            <li>
                Текстовой информации.
            </li>
        </p>

    <h3>
        Права и обязанности сторон 
    </h3>

        <p>
            Пользователь имеет право:
            <br>
        <ul>
            <li>
                Осуществлять поиск информации на сайте
            </li>
            <li>
                Получать информацию на сайте
            </li>
            <li>
                Изменять рейтинг пользователей
            </li>
            <li>
                Копировать информацию на другие сайты с указанием источника
            </li>
            <li>
                Требовать от администрации скрытия любой информации о пользователе - требовать от администрации скрытия любой информации, переданной пользователем сайту
            </li>
            <li>
                Использовать информацию сайта в личных некоммерческих целях
            </li>
        </ul>
            </p>

            <p>
                Администрация имеет право:
                <br>
            <ul>
                <li>
                    По своему усмотрению и необходимости создавать, изменять, отменять правила
                </li>
                <li>
                    Ограничивать доступ к любой информации на сайте
                </li>
                <li>
                    Создавать, изменять, удалять информацию
                </li>
                <li>
                    Копировать информацию на другие сайты с указанием источника
                </li>
                <li>
                    Удалять учетные записи
                </li>
                <li>
                    Отказывать в регистрации без объяснения причин
                </li>
            </ul>
                </p>

                <p>
                    Пользователь обязуется:
                    <br>
                <ul>
                    <li>
                        Обеспечить достоверность предоставляемой информации
                    </li>
                    <li>
                        Обеспечивать сохранность личных данных от доступа третьих лиц
                    </li>
                    <li>
                        Обновлять Персональные данные, предоставленные при регистрации, в случае их изменения
                    </li>
                    <li>
                        Не копировать информацию с других источников
                    </li>
                    <li>
                        При копировании информации с других источников, включать в её состав информацию об авторе
                    </li>
                    <li>
                        Не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность
                    </li>
                    <li>
                        Не нарушать работоспособность сайта
                    </li>
                    <li>
                        Не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу
                    </li>
                    <li>
                        Не совершать действия, направленные на введение других Пользователей в заблуждение
                    </li>
                    <li>
                        Не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам
                    </li>
                    <li>
                        Не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных законодательством РФ
                    </li>
                    <li>
                        Не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ
                    </li>
                    <li>
                        Не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами
                    </li>
                </ul>
                    </p>

                    <h3>
                        Ответственность сторон
                    </h3>

                    <p>

                    <ul>
                        <li>
                            пользователь лично несет полную ответственность за распространяемую им информацию
                        </li>
                        <li>
                            администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг
                        </li>
                        <li>
                            администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами
                        </li>
                        <li>
                            в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса
                        </li>
                    </ul>
                        </p>

                    <h3>
                        Условия действия Соглашения
                    </h3>

                    <p>
                        Данное Соглашение вступает в силу при любом использовании данного сайта. Соглашение действует бессрочно.  <br>
                        Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению. <br>
                        Администрация не оповещает пользователей об изменении в Соглашении. <br>
                    </p> 

                    <br>
                    <br>
                    <br>
    </div>
</div>
