<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />

    <title>Document</title>
</head>
<body>
    <div class="uk-width-4-5 uk-text-center" style="margin: 10% auto;">
        <h1 class="uk-text-center uk-text-bold uk-text-danger uk-width-1">ERROR 404</h1>
        <h3>Увы, но мы еще не успели сделать эту страницу</h3>
        <h3>Проверьте правильность вашей ссылки и попробуйте еще раз)</h3>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/js/uikit-icons.min.js"></script>
</html>
