    {% for product in products %}
    <li data-sex="{{product.sex}}" data-rating="{{product.flooredrating}}" data-duration="{{product.duration}}"
        data-price="{{product.id}}">
        <a href="/goods/{{product.id}}" class="uk-text-secondary uk-link-reset">
            <div class="box-footer">
                <div style="width:238px;height:443px; margin: auto;">
                    <img src="{{product.picture1}}" width="200px" height="400px " alt="">

                    <div class="box-down">
                        <h3 style="font-size:25px; font-weight:bold; margin: 0;">{{product.show_price}} ₽</h3>
                        <p class="star">
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                            <strong>&star;</strong>
                        </p>
                        <p class="uk-text-truncate" style="font-size:15px; margin: 0;">{{product.product_name}}</p>
                    </div>
                    <div class="box-down-drop">
                        <div style="margin: auto;" class="box-down-drop-img">
                            <p style="margin: 0;" class="">{{product.brand}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </li>

    <style>
        
    </style>

    {% endfor %}