    {% for product in products %}
        <div class="frame">
            <a class="uk-link-reset" href="/goods/{{product.id}}" style="width: 100%;">

                <div style="height: 70%; background-size: cover" class=" uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" uk-img data-src="{{product.picture1}}"></div>
                <!-- uk-margin-small-left -->
                <div>
                    <p style="font-weight: 450; font-size: 30px;" class=" uk-margin-remove-bottom">{{product.show_price}} ₽</p>
                    <!-- <p style="font-weight: 400; font-size: 20px;" class=" uk-margin-remove-top uk-margin-remove-bottom">{{product.brand}} Brand</p> -->
                    <p style="font-weight: 300; font-size: 20px;" class=" uk-margin-remove-top uk-margin-remove-bottom uk-panel uk-text-truncate">{{product.brand}} / {{ product.product_name }}</p>
                    <p style="font-weight: 300; font-size: 20px;" class=" uk-margin-remove-top uk-margin-remove-bottom uk-panel uk-text-truncate">
                        <p class="star">

                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>

                        </p>
                    </p>
                    <p style="font-weight: 300; font-size: 20px; display: none;" class="text_b uk-margin-remove-top uk-panel uk-text-truncate">Доступные размеры: {{product.size}}</p>
                </div>

            </a>
        </div>


    {% endfor %}

    <style>
    
        .frame{
            height: 60vh;
            width: 25%;
            /* background-color: #ccc; */
            color:black;
            padding: 1%;
            margin: 1%;
            border-radius: 10px 10px 10px 10px;
            transition: 0;
            
        }

        .frame:hover {
            box-shadow: 0px 0px 25px 4px #ccc;
            animation-name: example;
            animation-duration: 4s;
    
        }

        .frame:hover .text_b {
            display: block;
        }

        
    
    </style>