{% extends "base.html" %} {% block content %}



<style>
    * {
        transition: 0.3s;
    }

    .uk-card-default {
        box-shadow: none;
    }
</style>

<body style="width: 100%; height: 100%;">
    <div style="width: 80%; margin: auto;">

        <div class="uk-flex uk-margin-medium-bottom">
            <div class="uk-margin-right">
                <p style="font-weight: 600; font-size: 2.625em; margin-bottom: 0 ">Все бренды</p>
            </div>
            <div class="uk-margin-right">
                <p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Москва</p>
            </div>
            <div class="uk-margin-right">
                <p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Питер</p>
            </div>
            <div class="uk-margin-right">
                <p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Тверь</p>
            </div>

        </div>

        <div class="uk-margin-small-bottom">
            <div class="uk-inline uk-width-1">
                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: link"></a>
                <input placeholder="Поиск по брендам" class="uk-input" type="text" aria-label="Clickable icon">
            </div>
        </div>

        <div class="uk-flex uk-flex-around uk-margin-medium-bottom">
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">0-9</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">A</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">B</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">C</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">D</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">E</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">F</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">G</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">H</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">I</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">J</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">K</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">L</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">M</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">N</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">O</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">P</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">Q</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">R</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">S</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">T</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">U</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">V</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">W</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">X</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">Y</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">Z</button>
            </div>
            <div class="uk-margin-right">
                <button class="uk-button uk-button-link"
                    style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">А-Я</button>
            </div>

        </div>

        <div class="uk-section">
            <div class="uk-grid" uk-grid style="margin: auto;">
                {% for brand in brands %}
                <!-- <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                        style="height: 100%" uk-img data-src="{{brand.logoImage}}">
                        <a style="width: 30px; position: relative; top: 0; left: 80%" href=""
                        uk-icon="heart"></a>
                    </div>
                </div> -->
                <a class="uk-button uk-button-default" href="/brands/{{brand.name}}"
                    style="height: 8vw; width: 17vw; margin: 1%; padding: 0;">
                    <div style="height: 100%; width:100%; margin:0"
                        class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline-clip uk-transition-toggle"
                        data-src="{{brand.logoImage}}" uk-img>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>




    {% include "footer.html" %}
</body>

<script>
    $(document).ready(function () {
        $("#signup").click(function () {
            $("#signin-form").css("display", "none");
            $("#signup-form").css("display", "");
        });

        $("#signin").click(function () {
            $("#signup-form").css("display", "none");
            $("#signin-form").css("display", "");
        });
    });
</script>


{% endblock %}