{% extends "base.html" %} {% block content %}



<style>
    * {
        transition: 0.3s;
    }

    .uk-card-default {
        box-shadow: none;
    }
</style>

<body style="width: 100%; height: 100%;">
    <div style="width: 80%; margin: auto;">

        <div class="uk-flex" style="margin: 0">
            <div class="uk-margin-right"><p style="font-weight: 600; font-size: 2.625em; margin-bottom: 0 ">Все бренды</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Москва</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Питер</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 2.625em; margin-bottom: 0">Тверь</p></div>

        </div>

        <div class="uk-margin">
            <div class="uk-inline uk-width-1">
                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: link"></a>
                <input placeholder="Поиск по брендам" class="uk-input" type="text" aria-label="Clickable icon">
            </div>
        </div>

        <div class="uk-flex">
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">0-9</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">A</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">B</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">C</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">D</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">F</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">G</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">H</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">0-9</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">A</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">B</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">C</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">D</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">F</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">G</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">H</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">0-9</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">A</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">B</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">C</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">D</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">F</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">G</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">H</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">0-9</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">A</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">B</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">C</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">D</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">F</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">G</p></div>
            <div class="uk-margin-right"><p style="font-weight: 400; font-size: 1.5em; margin-bottom: 0 ">H</p></div>
            
        </div>
  
        <div style="width: 99%;">
                <div class="uk-grid" uk-grid style="margin: auto; width: 100%;">
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                    <div style="height: 170px; width: 330px; margin-bottom: 1%; margin-top: 1%; margin-left: 0">
                        <div style="height: 100%" uk-img data-src="https://sun9-13.userapi.com/impg/WdBQX3pTiEevM5-Jq8PbRw3KCpSAt7ViTP1H8g/sdT05rynN9g.jpg?size=349x329&quality=96&sign=4a12051e3d1c4fd061634f112cce627a&type=album">
                            <a class="uk-align-right" style="margin-top: 2%; margin-right: 2%; width: 30px" href="" uk-icon="heart"></a>
                        </div>
                    </div>
                
                  
                </div>
        </div>

    </div>





<!-- 
    <div class="uk-width-1 uk-flex uk-flex-center uk-flex-middle">
        <div style="margin-top: 20%">
            
            <p style="font-weight: 600; font-size: 45px; margin: 0;">Нет аккаунта?</p>
            <button id="signup"
                style=" border: solid black 2px;"
                class="uk-button uk-button-secondary uk-width-2-5 uk-border-pill" type="button">Регистрация</button>

            <p style="font-weight: 600; font-size: 45px; margin: 0; margin-top: 3%;">Уже есть аккаунт?</p>
            <button id="signin"
                style=" border: solid black 2px;"
                class="uk-button uk-button-secondary uk-width-2-5 uk-border-pill" type="button">Вход</button>
        </div> -->
    
    
    
    
    
    
    {% include "footer.html" %}
</body>

<script>
    $(document).ready(function () {
		$("#signup").click(function () {
			$("#signin-form").css("display", "none");
			$("#signup-form").css("display", "");
		});

		$("#signin").click(function () {
			$("#signup-form").css("display", "none");
			$("#signin-form").css("display", "");
		});
	});
</script>


{% endblock %}


