<div class="uk-container uk-width-1 uk-flex uk-flex-around uk-flex-middle"
    style="color: white; background-color: #0A3644; padding: 5% 0 2% 0">
    <div class="uk-flex-row">
        <h3 style="color: white">ДЛЯ ПОКУПАТЕЛЕЙ</h3>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li style="font-size: 1.5em"><a href="" calss="uk-button uk-button-link">Оплата и доставка</a></li>
            <li style="font-size: 1.5em"><a href="https://t.me/emilia20mas" calss="uk-button uk-button-link">Обратная
                    связь</a></li>
            <li style="font-size: 1.5em"><a href="" calss="uk-button uk-button-link">Возвраты</a></li>
            <li style="font-size: 1.5em"><a href="" calss="uk-button uk-button-link">О сервисе</a></li>
        </ul>
    </div>
    <div class="uk-flex-row">
        <h3 style="color: white">ДЛЯ ПАРТНЕРОВ</h3>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link" href="/partners/" >Стать партнёром</a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link" href="/becomeCreator/" >Личный кабинет партнёра</a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link" href="/becomeCreator/">Документация для партнёров </a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link" href="/becomeCreator/">Документы </a></li>
        </ul>
    </div>
    <div class="uk-flex-row">
        <h3 style="color: white">КОНТАКТЫ:</h3>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link">Россия, г. Москва</a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link"
                    href="email:befreela@mail.ru">befreela@mail.ru</a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link" href="tel:+7 (925) 574 13-71">+7 (925)
                    574 13-71</a></li>
            <li style="font-size: 1.5em"><a calss="uk-button uk-button-link"
                    href="https://instagram.com/be_freela?igshid=YmMyMTA2M2Y=" uk-icon="instagram">Instagram</a>
            </li>
        </ul>
    </div>
</div>
<div class="uk-flex uk-flex-top uk-flex-center"
    style="border-top:1px solid rgba(255, 255, 255, 0.5); padding: 1%; background-color: #0A3644; color: white">
    <p class="uk-margin-remove">© 2022:</p>
    <a class="uk-margin-small-left uk-link-reset" href="/">BeFreela</a>
</div>