<div class="uk-container uk-width-1" style="padding: 0">
    <!-- top menu -->
    <div class="uk-section uk-section-secondary uk-padding-small" style="color: white">
        <div class="uk-flex uk-flex-between uk-flex-middle uk-width-4-5" style="margin: 0 auto;">
            <p class="uk-margin-remove">г. Москва</p>
            <div class="uk-flex uk-flex-right uk-flex-middle uk-width-2-5">
                <a class="uk-link-revert" href="/partners/" style="margin: 0 2%;">Продавайте у нас</a>
                <a class="uk-link-revert" href="" style="margin: 0 2%;">Как мы работаем сейчас</a>
            </div>
        </div>
    </div>

    <!-- main nav menu -->
    <div class="uk-section uk-width-4-5" style="margin: 0 auto; padding: 1% 0;">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active" style="border-bottom: 1px solid">Маркетплейс</li>
                    <li class="uk-active">⠀российских брендов</li>
                </ul>
            </div>
            <div class="uk-navbar-center">
                <h1>
                    Freela
                </h1>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="#">
                            <i class="fa-solid fa-heart"></i>
                            избранное
                        </a>
                    </li>
                    <li class="uk-active">
                        <a href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                            корзина
                        </a>
                    </li>
                    <li class="uk-active">
                        <a href="#">
                            <img class="uk-border-circle"
                                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                                height="40" width="40" alt="">
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% if user.is_partner %}
                                <li>
                                    <a href="/partners/" class="uk-button uk-button-link"
                                        style="text-transform: none;">Вы уже партнер</a>
                                </li>
                                {% else %}
                                <li class="uk-active">
                                    <a href="/partners/" class="uk-button uk-button-link uk-text-normal"
                                        style="text-transform: none;">Стать партнером</a>
                                </li>
                                {% endif %}
                                <li class="uk-nav-divider"></li>
                                <li class="uk-active"><a href="/edit/">Настройки профиля</a></li>
                                {% if user.is_partner %}
                                <li class="uk-active">
                                    <a href="/becomeCreator/" uk-icon="icon: database">Магазин</a>
                                </li>
                                {% endif %}
                                {% if user.is_admin and user.is_superuser and user.is_staff and user.is_active %}
                                <li class="uk-active"><a href="/admin/">Админка</a></li>
                                {% endif %}
                                {% if user.is_authenticated == 0 %}
                                <li><a href="/login/">Войти</a></li>
                                {% else %}
                                <li><a href="/logout/">Выйти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <!-- search and categoryes nav -->
    <div class="uk-section uk-width-4-5" style="margin: 0 auto; padding: 0">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" style="padding-left: 0"
                            href="">Новинки</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" href="">Одежда</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" href="">Обувь</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" href="">Интерьер</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" href="">Аксессуары</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize" href="/brands/">Бренды</a></li>
                    <li class="uk-active"><a class="uk-link-revert uk-text-capitalize uk-text-danger" href="">Sale%</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-width-2-5 uk-flex uk-flex-right">
                <ul class="uk-navbar-nav uk-width-2-3">
                    <form class="uk-search uk-search-default uk-width-1">
                        <span class="uk-border-rounded uk-search-icon-flip"
                            style="background-color: black; color: white; width: 20%" uk-search-icon></span>
                        <input class="uk-border-rounded uk-search-input" type="search" placeholder="Search"
                            aria-label="Search">
                    </form>
                </ul>
            </div>
        </nav>
    </div>
</div>