{% extends "base.html" %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

    p {
        margin: 0 0 2% 0;
    }
</style>

<body>
    <div class="uk-width-1 uk-flex-column uk-margin-small-top uk-margin-bottom" style="width:80%; margin: auto">
        <div class="uk-margin-medium-bottom">
            <p style="font-weight: 600; font-size: 2.625em;">Мои заказы</p>
            <hr class="uk-divider-icon uk-margin-top">
        </div>

        <div class="uk-flex">
            <div class="uk-width-2-3 uk-margin-medium-right">
                <div class="uk-flex-column">
                    {% for shop in shops %}
                    <div class="uk-width-1 uk-border-rounded" style="background-color: lightgrey; margin: 10px 0">
                        <p class="uk-margin-left" style="font-weight: 600; font-size: 1.5em; margin:0">Заказ <b
                                class="uk-text-uppercase">{{shop}}</b>
                        </p>
                    </div>
                    {% for product in products %}
                    <div class="uk-flex uk-margin">
                        <div class="uk-width-3-5 uk-flex uk-flex-around">
                            <img src="{{product.img}}" width="100" alt="">
                            <a href="/goods/{{product.id}}/"
                                class="uk-link-revert uk-button uk-button-text">{{product.product_name}}</a>
                        </div>
                        <div class="uk-width-2-5">
                            <div class="uk-flex uk-flex-top uk-flex-between">
                                <p class="uk-text-meta">Дата заказа:</p>
                                <p>{{product.date_add}}</p>
                            </div>
                            <p>Способ оплаты</p>
                            <div class="uk-flex uk-flex-top uk-flex-between">
                                <p class="uk-text-meta">Способ оплаты:</p>
                                <p>{{product.price}}</p>
                            </div>
                            <p>Способ доставки</p>
                            <div class="uk-flex uk-flex-top uk-flex-between">
                                <p class="uk-text-meta">Адрес:</p>
                                <p>{{product.delivery_address}}</p>
                            </div>
                            <div class="uk-flex uk-flex-top uk-flex-between">
                                <p class="uk-text-meta">Получатель:</p>
                                <p>{{user}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="uk-flex-column uk-width-1-3">
                <div class="uk-flex-column uk-margin-medium-bottom">
                    <p style="font-weight: 600; font-size: 2em;">Помощь</p>
                    <p style="font-weight: 600; font-size: 1em;">Как отслеживать доставку заказа?</p>
                    <p style="font-weight: 600; font-size: 1em;">Как изменить дату или место доставки курьером?</p>
                    <p style="font-weight: 600; font-size: 1em;">Как вернуть товар?</p>
                    <hr class="uk-divider-icon uk-margin-top ">
                </div>
                <div class="uk-flex-column" style="width: 80%">
                    <p style="font-weight: 600; font-size: 1.2em;">Не нашли ответа? Напишите нам</p>
                    <div style="width: 70%; margin: auto;">
                        <a class="uk-button uk-button-secondary uk-border-pill">Задать вопрос</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}


<style>
    .checked {
        color: orange;
    }

    .rating-area {
        overflow: hidden;
        width: 265px;
        margin: 0 auto;
    }

    .rating-area:not(:checked)>input {
        display: none;
    }

    .rating-area:not(:checked)>label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

    .rating-area:not(:checked)>label:before {
        content: '★';
    }

    .rating-area>input:checked~label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked)>label:hover,
    .rating-area:not(:checked)>label:hover~label {
        color: gold;
    }

    .rating-area>input:checked+label:hover,
    .rating-area>input:checked+label:hover~label,
    .rating-area>input:checked~label:hover,
    .rating-area>input:checked~label:hover~label,
    .rating-area>label:hover~input:checked~label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

    .rate-area>label:active {
        position: relative;
    }
</style>