{% extends "base.html" %}

{% block content %}


{% load static %}

<style>
    .section1 {
        height: 760px;
        background-color: #ccc;
        margin: 0 auto;
    }
    .center-text-section1{
        width: auto;
        padding: 8%;
    }
    .first-text-section1{
        font-size: 100px;
        font-weight: 400;
        line-height: 1.00;
    }
    .second-text-section1{
        font-size: 40px;
        font-weight: 400;
        line-height: 1.10;
    }

    .section2 {
        height: 500px;
        background-color: #ccc;
        margin: 0 auto;
    }
    .center-text-section2{
        width: fit-content;
        padding: 4%;
        margin: 0 auto;
    }
    .first-text-section2{
        font-size: 80px;
        font-weight: 400;
        line-height: 1.00;
    }
    .center-img-section2{
        width: fit-content;
        padding: 4%;
        margin: 0 auto;
    }


</style>


<section class="uk-section uk-width-4-5 section1">

    <div class="center-text-section1">
        <h1 class="first-text-section1">
            Развивайте <br> бизнес с Freela
        </h1>
        <br>
        <p class="second-text-section1">
            Поможем найти новых покупателей, <br> провести аналитику
        </p>
        <br>

        <a class="uk-button uk-button-secondary" href="#">Присоединиться</a>

    </div>

</section>

<br>
<br>
<br>


<section class="uk-section section2">

    <div class="uk-flex">

        <div class="center-text-section2">
        <h1 class="first-text-section2">
            Развивайте <br> бизнес с Freela
        </h1>

        <br>

        <a class="uk-button uk-button-secondary" href="#">Присоединиться</a>

    </div>

    <div class="center-img-section2">

    </div>

    </div>
    

</section>



<br>

{% include "footer.html" %}


{% endblock %}